<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adam debug</title>
</head>
<body>

    <div>
        <form method="post">
            <input type="text" name="name" placeholder="name"/>
            <input type="date" name="dateText"/>
            <input type="text" name="value" placeholder="value"></input>
            <input type="text" name="description" placeholder="description"></input>
            <input type="text" name="status" placeholder="status"/>
            <input type="text" name="categoryName" placeholder="category"></input>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"></input>
            <button type="submit">Добавить</button>
        </form>
    </div>

    {{#transactions}}
    <div>
        <b>{{id}} </b>
        <i>{{name}} </i>
        <u>{{date}}</u>
        <b>{{value}}</b>
        <i>{{description}}</i>
        <u>{{status}}</u>
        <b>{{milestoneId}}</b>
        <i>{{categoryName}}</i>
        <i>{{userName}}</i>
    </div>
    {{/transactions}}
</body>
</html>