<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adam - financial consultant</title>
</head>
<body>
<div>
    <b>-Greetings, your majesty! Adam, financial consultant at your service!</b>
</div>
</body>
</html>