<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adam - financial consultant</title>
</head>
<body>
<div>
    <b>Users's transactions</b>
</div>

{{#transactions}}
<div>
    <b>{{id}} </b>
    <i>{{name}} </i>
    <u>{{date}}</u>
    <b>{{value}}</b>
    <i>{{description}}</i>
    <u>{{status}}</u>
    <b>{{milestoneId}}</b>
    <i>{{category}}</i>
</div>
{{/transactions}}
</body>
</html>