<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adam - financial consultant</title>
</head>
<body>
<div>
    <b>Users's transactions</b>
</div>

{{#transactions}}
<div>
    <b>{{id}} </b>
    <i>{{sum}} </i>
    <u>{{category}}</u>
    <b>{{comment}}</b>
</div>
{{/transactions}}
</body>
</html>